/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wicked {
  background-color: transparent;
  opacity: 0.8;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(
    -45deg,
    #f7db45 0,
    #f7db45 1px,
    transparent 0,
    transparent 50%
  );
}
